
~$Primate.nex.sitelike.xlsx

machete

lyso2.nex.labelledtree.tre

lyso2.nex

alltrees.tre

COG0012_ex.aa

COG0012_ex.aa.aln

COG0012_ex.aa.aln.nexus

COG0012_ex.aa.aln.tre

constraint.tre

HPCWALES_parpllel_programming.pdf

machete.c~

Machete.tgz

mhc.fa

mhc.fa.nexus

*.tre

*.txt

*.command

*.test

paupblock.test~

Paup_2.log

*.xlsx

Primate5x.nex

scorefile

*.1

t

test

testpopen

testpopen.c

trees.ps

simulation/test_tree1.ph~

simulation/add_random_noise_to_fasta.sh~

simulation/add_randomnoise_to_fasta.sh~

simulation/megaCluster2.tar

simulation/test_tree1_L1000.nex_1PCnoise.fasta

simulation/test_tree1_L1000.nex.fasta

Primate.nex~

.gitignore~

Primate.nex.labelledtree.tre~

COG0012_ex.aa.aln.1.nexus
