
~$Primate.nex.sitelike.xlsx

machete

lyso2.nex.labelledtree.tre

lyso2.nex

alltrees.tre

COG0012_ex.aa

COG0012_ex.aa.aln

COG0012_ex.aa.aln.nexus

COG0012_ex.aa.aln.tre

constraint.tre

HPCWALES_parpllel_programming.pdf

machete.c~

Machete.tgz

mhc.fa

mhc.fa.nexus

*.tre

*.txt

*.command

*.test

paupblock.test~

Paup_2.log

*.xlsx

Primate5x.nex

scorefile

*.1

t

test

testpopen

testpopen.c

trees.ps

simulation/test_tree1.ph~

simulation/add_random_noise_to_fasta.sh~

simulation/add_randomnoise_to_fasta.sh~

simulation/megaCluster2.tar

simulation/test_tree1_L1000.nex_1PCnoise.fasta

simulation/test_tree1_L1000.nex.fasta

Primate.nex~

.gitignore~

Primate.nex.labelledtree.tre~

COG0012_ex.aa.aln.1.nexus

Primate.nex.labelledtree.tre_old

.Rapp.history

simulation/1_graph.likelihood_decay.pdf

simulation/2_graph.like_decay_div_full_length.pdf

simulation/3_graph.perc_align_support_unconstr.pdf

simulation/4_graph.likesupportconstr_div_likesupportunconstr.pdf

simulation/5.graph.percent_unconstr_supprt_like.pdf

simulation/charts.R

simulation/graph.like_decay_div_full_length.pdf

simulation/graph.likelihood_decay.pdf

simulation/graph.likesupportconstr_div_likesupportunconstr.pdf

simulation/graph.perc_align_support_unconstr.pdf

simulation/seq-gen/allseqs.fas

simulation/seq-gen/allseqs.fas.nexus

simulation/seq-gen/consensus.ph

simulation/seq-gen/list

simulation/seq-gen/out

simulation/seq-gen/run_sim_all_machete.sh

simulation/seq-gen/run_sim_all_machete.sh~

simulation/seq-gen/run_sim_all.2.sh

simulation/seq-gen/run_sim_all.2.sh~

simulation/seq-gen/run_sim_all.sh

simulation/seq-gen/run_sim_all.sh~

simulation/seq-gen/simulate_conflicting_data_machete.sh

simulation/seq-gen/simulate_conflicting_data_machete.sh~

simulation/seq-gen/simulate_conflicting_data.sh

simulation/seq-gen/simulate_conflicting_data.sh~

simulation/seq-gen/tree1_100bp.phy

simulation/seq-gen/tree1_100bp.phy.fasta

*.ph

simulation/seq-gen/tree1.ph~

simulation/seq-gen/tree2_100bp.phy

simulation/seq-gen/tree2_100bp.phy.fasta

simulation/seq-gen/tree2.ph~
